
# /
/unit_t.output
/archives
/build
/install
/autom4te.cache
/Makefile.in
/configure
/template_config.h.in
/aclocal.m4

# /.autotools_cache/
/.autotools_cache/ltmain.sh
/.autotools_cache/missing
/.autotools_cache/py-compile
/.autotools_cache/test-driver
/.autotools_cache/config.sub
/.autotools_cache/install-sh
/.autotools_cache/depcomp
/.autotools_cache/compile
/.autotools_cache/config.guess

# /.autotools_cache/m4/
/.autotools_cache/m4/ltversion.m4
/.autotools_cache/m4/ltoptions.m4
/.autotools_cache/m4/ltsugar.m4
/.autotools_cache/m4/libtool.m4
/.autotools_cache/m4/lt~obsolete.m4

# /misc/
/misc/pgft-sample.topodump
/misc/.~lock.bench.ods#
/misc/notebooks/

# /misc/bench/number_of_digits/
/misc/bench/number_of_digits/bench

# /misc/bench/timeclock/
/misc/bench/timeclock/benchclock

# /misc/issues/zmq-inproc-leak/
/misc/issues/zmq-inproc-leak/test


# /packaged/
/packaged/temp.txt
/packaged/stamp-h1
/packaged/ltmain.sh
/packaged/configure
/packaged/install-sh
/packaged/config.status
/packaged/INSTALL
/packaged/aclocal.m4
/packaged/libtool
/packaged/config.sub
/packaged/config.h.in
/packaged/missing
/packaged/depcomp
/packaged/test-driver
/packaged/config.h
/packaged/Makefile
/packaged/Makefile.in
/packaged/config.guess
/packaged/compile
/packaged/autom4te.cache
/packaged/unit_t.output
/packaged/build
/packaged/py-compile
/packaged/Changelog

# /packaged/doc/
/packaged/doc/Makefile.in
/packaged/doc/doxyfile.stamp
/packaged/doc/doxygen.warn

# /packaged/doc/examples/

# /packaged/include/
/packaged/include/*.ffih
/packaged/include/Makefile.in


# /packaged/lib/
/packaged/lib/.dirstamp
/packaged/lib/*_h.py
/packaged/lib/Makefile.in
/packaged/lib/Makefile

# /packaged/src/
/packaged/src/.dirstamp
/packaged/src/.deps

# /tests/
/tests/.dirstamp
/tests/.deps
/tests/unit_t.trs
/tests/unit_t
/tests/report
/tests/Makefile.in

**/*.pyc
**/*.pyo
**/.ipynb_checkpoints/*
